<div class="header clearfix">
    <h3 class="text-muted">Данные профиля:</h3>
</div>
<div class="jumbotron">
    <div class="fos_user_user_show">
        <p>{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}: {{ user.username }}</p>
        <p>{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}: {{ user.email }}</p>
    </div>
</div>