<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="/bundles/app/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bundles/app/css/my_style.css" />
    <title>{% block title %} {% endblock %}</title>
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('homepage') }}">Тест для YSBM</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li {% if app.request.attributes.get('_route') == 'homepage' %} class="active" {% endif %}><a href="{{ path('homepage') }}">Главная</a></li>
                    <li {% if app.request.attributes.get('_route') == 'user_product' %} class="active" {% endif %}><a href="{{ path('user_product') }}">Наборы</a></li>
                    <li {% if app.request.attributes.get('_route') == 'about' %} class="active" {% endif %}><a href="{{ path('about') }}">О сайте</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                {% if app.user %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> {{ app.user.username }}<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('fos_user_profile_show') }}"><span class="glyphicon glyphicon-heart"></span> Профиль</a></li>
                            <li><a href="{{ path('fos_user_change_password') }}"><span class="glyphicon glyphicon-refresh"></span> Изменить пароль </a></li>
                            {% if is_granted('ROLE_ADMIN') %}<li role="presentation"><a href="{{ path('sonata_admin_dashboard') }}"><span class="glyphicon glyphicon-cog"></span> Админ панель</a></li>{% endif %}
                            <li><a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-remove"></span> Выйти</a></li>
                        </ul>
                    </li>                 
                {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        {% block body %}
        {% endblock %}
    </div>
    <script src="/bundles/app/js/jquery-3.1.1.min.js"></script>
    <script src="/bundles/app/js/bootstrap.min.js"></script>
    
    {% block javascript %}
    {% endblock %}
</body>
</html>
