{% extends "AppBundle::layout.html.twig" %}
{% block title %}
    Продукты пользователя
{% endblock %}

{% block body %}
    <div class="container">
        {% if productSet %}
            <h3><span class="glyphicon glyphicon-list-alt"></span> Наборы</h3>
            {% for set in productSet %}
                <div class="row product">
                    <div class="col-md-12">
                        <p><span class="glyphicon glyphicon-book"></span> Набор "{{ set.name }}" cодержит продукты:</p>
                        {% for product in set.product %}
                            <div class="col-sm-1">
                                <img src="{% if product.image %}{{ product.image.path }}{% else %}/bundles/app/images/plate.jpg{% endif %}" class="img-responsive img-rounded center-block"/>
                            </div>
                            <div class="col-sm-11">
                                <p><samp class="glyphicon glyphicon-tag"></samp> Продукт "<a href="{{ path('app_product_full_information', { 'id': product.id }) }}" >{{ product.name }}</a>" содержит характеристики:</p>
                                <p><span class="glyphicon glyphicon-arrow-right"></span>
                                {% for detail in product.productDetail %}
                                    {{ detail.name }},
                                {% endfor %}
                                </p>                            
                            </div>
                            <div class="clearfix"></div>
                            <p></p>
                        {% endfor %}
                    </div>
                </div>
                <p></p>                       
            {% endfor %}
        {% else %}
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-danger alert-dismissable">
                        <span class="glyphicon glyphicon-alert"></span>
                        Наборы отсутствуют
                    </div>
                </div>
            </div>
        {% endif %}                
        
        {% if productOnly %}
            <h3><span class="glyphicon glyphicon-list-alt"></span> Продукты не входящие в наборы</h3>          
            {% for product in productOnly %}
                <div class="row product">
                    <div class="col-md-12">
                        <div class="col-sm-1">
                            <img src="{% if product.image %}{{ product.image.path }}{% else %}/bundles/app/images/plate.jpg{% endif %}" class="img-responsive img-rounded center-block"/>
                        </div>
                        <div class="col-sm-11">
                            <p><samp class="glyphicon glyphicon-tag"></samp> Продукт "<a href="{{ path('app_product_full_information', { 'id': product.id }) }}" >{{ product.name }}</a>" содержит характеристики:</p>
                            <p><span class="glyphicon glyphicon-arrow-right"></span>
                            {% for detail in product.productDetail %}
                                {{ detail.name }},
                            {% endfor %}
                            </p>
                        </div>
                        <div class="clearfix"></div>
                        <p></p>
                    </div>
                </div>
                <p></p>
            {% endfor %}
        {% else %}
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-danger alert-dismissable">
                        <span class="glyphicon glyphicon-alert"></span>
                        Продукты без набора отсутствуют
                    </div>
                </div>
            </div>
        {% endif %}           
    </div>
{% endblock %}