{% extends "AppBundle::layout.html.twig" %}
{% block title %}
    О сайте
{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1>О сайте</h1>
        <p>Данный сайт создан как тестовое задание для YSBM</p>
        <p>Использовано:</p>
        <ol>
            <li>Composer (Для установки пакетов, ним же установленны все пакеты включая сам Symfony)</li>
            <li>Symfony 2.8.12</li>
            <li>Doctrine (для базы данных)</li>
            <li>Swiftmailer (отправка почты)</li>
            <li>FOSUserBundle (работа с пользователями)</li>
            <li>SonataAdminBundle (для создания админ панели)</li>
            <li>IphpFilestoreBundle (для работы с файлами)</li>
            <li>CkeditorBundle (Редактор текста с разметкой(используется в админ панели))</li>
            <li>DoctrineMigrationsBundle (Для создания миграции)</li>
            <li>TWIG шаблонизатор</li>
            <li>Bootstrap3 стили</li>
        </ol>
        <p>От себя. На сайте присутствует адаптивный дизайн, дополнительно добавил описание каждого товара на отдельной страничке. Если зайти на страничку товара у нее есть описание и характеристики(содержит продукты), если навести на характеристику (продукт), во всплывающем окне появится "значение характеристики"</p>
        <p>Для удобства проверки сайт заполнен информацией о еде с сайта eda.ru.</p>
        <p>Установка сайта:</p>
        <ol>
            <li>composer install (там ввести настройки базы, почты и так далее)</li>
            <li>php app/console doctrine:migrations:migrate (во время миграции загрузится и демо контент)</li>
        </ol>
    </div>
{% endblock %}