{% extends "AppBundle::layout.html.twig" %}
{% block title %}
    Подтверждение на почту
{% endblock %}

{% block body %}
    <div class="header clearfix">
        <h3 class="text-muted">Подтверждение:</h3>
    </div>
    <div class="jumbotron">
        <p>{{ 'registration.check_email'|trans({'%email%': user.email}, 'FOSUserBundle') }}</p>
    </div>
{% endblock %}