{% extends "AppBundle::layout.html.twig" %}
{% block title %}
    Подтверждение
{% endblock %}

{% block body %}
    <div class="header clearfix">
        <h3 class="text-muted">Подтверждение:</h3>
    </div>
    <div class="jumbotron">    
        <p>{{ 'registration.confirmed'|trans({'%username%': user.username}, 'FOSUserBundle') }}</p>
        {% if app.session is not empty %}
            {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
            {% if targetUrl is not empty %}<p><a href="{{ targetUrl }}">{{ 'registration.back'|trans({}, 'FOSUserBundle') }}</a></p>{% endif %}
        {% endif %}
    </div>
{% endblock %}
