{% extends "AppBundle::layout.html.twig" %}
{% block title %}
    Регистрация
{% endblock %}

{% block body %}
        <div class="header clearfix">
            <h3 class="text-muted">Регистрация:</h3>
        </div>
        {% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock %}