{% extends "AppBundle::layout.html.twig" %}
{% block title %}
    Смена пароля
{% endblock %}

{% block body %}
    <div class="header clearfix">
        <h3 class="text-muted">Смена пароля:</h3>
    </div>
    <div class="jumbotron">
        <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST">
            <div class="form-group">
                {{ form_label(form.current_password) }}
                {{ form_errors(form.current_password) }}
                {{ form_widget(form.current_password, {'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="form-group">
                {{ form_label(form.new.first) }}
                {{ form_errors(form.new.first) }}
                {{ form_widget(form.new.first, {'attr': {'class': 'form-control'} }) }}
            </div>        
            <div class="form-group">
                {{ form_label(form.new.second) }}
                {{ form_errors(form.new.second) }}
                {{ form_widget(form.new.second, {'attr': {'class': 'form-control'} }) }}
            </div>            
            <div>
                {{ form_widget(form) }}
                <input type="submit" class="btn btn-default" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />
            </div>
        </form>
    </div>
{% endblock %}
