{% extends "AppBundle::layout.html.twig" %}
{% block title %}
    Восстановление пароля
{% endblock %}

{% block body %}
    <div class="header clearfix">
        <h3 class="text-muted">Восстановление пароля:</h3>
    </div>
    <div class="jumbotron">
        <p>{{ 'resetting.check_email'|trans({'%email%': email}, 'FOSUserBundle') }}</p>
    </div>
{% endblock %}