{% extends "AppBundle::layout.html.twig" %}
{% block title %}
    Восстановить пароль
{% endblock %}
{% block body %}
    {% include "FOSUserBundle:Resetting:request_content.html.twig" %}
{% endblock %}