{% block body %}
    <div class="header clearfix">
        <h3 class="text-muted">Подтверждение:</h3>
    </div>
    <div class="jumbotron">
        <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
            <div class="form-group">
                {% if invalid_username is defined %}
                    <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</p>
                {% endif %}
                <label for="username">{{ 'resetting.request.username'|trans({}, 'FOSUserBundle') }}</label>
                <input type="text" id="username" name="username" required="required" class="form-control" />
            </div>  
            <div>
                <input type="submit" class="btn btn-default" value="{{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}" />
            </div>
        </form>
    </div>
{% endblock %}
