{% extends "AppBundle::layout.html.twig" %}
{% block title %}
    Восстановление пароля
{% endblock %}

{% block body %}
    <div class="header clearfix">
        <h3 class="text-muted">Восстановление пароля:</h3>
    </div>
    <div class="jumbotron">
        {% include "FOSUserBundle:Resetting:reset_content.html.twig" %}
    </div>
{% endblock %}