{% block body %}
    <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset">
        <div class="form-group">
            {{ form_label(form.new.first) }}
            {{ form_errors(form.new.first) }}
            {{ form_widget(form.new.first, {'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="form-group">
            {{ form_label(form.new.second) }}
            {{ form_errors(form.new.second) }}
            {{ form_widget(form.new.second, {'attr': {'class': 'form-control'} }) }}
        </div>  
        <div>
            {{ form_widget(form) }}
            <input type="submit" class="btn btn-default" value="{{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}" />
        </div>
    </form>
{% endblock %}
