{% extends "AppBundle::layout.html.twig" %}
{% block title %}
    {{ product.name }}
{% endblock %}

{% block body %}
    <div class="jumbotron">
        <section class="container">
            <div class="row">
                <div class="col-md-12">
                
                    <h1 class="text-center">{{ product.name }}</h1>
                    <div class="col-md-4">
                        <img src="{% if product.image %}{{ product.image.path }}{% else %}/bundles/app/images/plate.jpg{% endif %}" class="img-responsive img-rounded center-block"/>
                    </div>
                    <div class="col-md-4">
                        <h3>Описание:</h3>
                        {{ product.description | raw}}
                    </div>
                    <div class="col-md-4">
                        <h3>Содержит продукты:</h3>
                        {% for detail in product.productDetail %}
                            <p data-animation="true" data-toggle="tooltip" data-placement="bottom" title="{{ detail.description }}"><samp class="glyphicon glyphicon-arrow-right"></samp> {{ detail.name }}</p> 
                        {% endfor %}
                    </div>                

                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block javascript %}
    <script>
      $(function () { 
        $("[data-toggle='tooltip']").tooltip(); 
      });
    </script>
{% endblock %}