body {
  min-height: 2000px;
  padding-top: 70px;
}

.product, .set {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid rgba(86,61,124,.0);
    border-radius: 7px;
    transition: 1s; 
}

.product:hover, .set:hover {
    background-color: #e7e7e7;
    border: 1px solid #dcd9d9;
    transition-property: background-color;
     
}