{% extends "AppBundle::layout.html.twig" %}
{% block title %}
    Добро пожаловать
{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron text-center">
            <h1>Добро пожаловать!</h1>
            <p>Этот сайт разработан как тестовое задание для YSBM</p>
            <p>Это главная страничка сайта</p>
            {% if not app.user %}
                <p>Для работы на сайте, Вам необходимо авторизироваться</p>
                <p><a class="btn btn-lg btn-success" href="{{ path('fos_user_security_login') }}" role="button">Войти</a></p>
                <p><a class="btn btn-lg btn-success" href="{{ path('fos_user_registration_register') }}" role="button">Регистрация</a></p>
                <p><a class="btn btn-lg btn-success" href="{{ path('fos_user_resetting_request') }}" role="button">Восстановить пароль</a></p>
            {% endif %}
        </div>
    </div>
{% endblock %}